---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="GOON">
	<div class="w-full h-dvh">
		<div class="w-full h-dvh absolute top-0 left-0 flex flex-col justify-center items-center gap-0">
			<h1 class="text-[10rem] md:text-[18rem] text-white" style="font-family: art-nuvo, Montserrat, sans-serif;">GOON
			</h1>
			<h2
				class="text-[3rem] md:text-[5rem] text-white -translate-y-14 md:-translate-y-24" style="font-family: art-nuvo, Montserrat, sans-serif">
				COUTURE</h2>
		</div>
	</div>
</Layout>